<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TP4: SYMFONY</title>
        {# {% block stylesheets %}{% endblock %} #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap_css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    </head>
    <body>

        <nav class="navbar navbar-inverse ">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('hospital_admin_page') }}">Hôpitals</a></li>
                <li><a href="{{ path('doctor_page') }}">Docteurs</a></li>
                <li><a href="{{ path('patient_page') }}">Patients</a></li>

            </ul>
        </nav>


        {% block body %}{% endblock %}

    </body>
</html>
